*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;  
  font-size: 1rem;
  font-weight: 400;
  display: grid;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #efeac5;
}
  
body::-webkit-scrollbar-thumb {
  background-color: #d61c59;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #efeac5;
}
  
body::-webkit-scrollbar-thumb:hover {
  background-color: #d61c5aa8;
}

.cabecario{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #efeac5;
    color: #360745;
}

.cabecario span{
    font-size: 22px;
    cursor: pointer;
    color: #360745;
    font-weight: bold;
}
.cabecario i{
  font-size: 30px;
}
.cabecario a{
  color: #360745;
}
.cabecario img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cabecario span:hover{
    scale: 1.2;
    transition: 0.3s;
}

/* Fim Cabeçario */

/* Calendario */
.background_calendario{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    max-width: auto;
    margin: 30px auto;
}
.cabecario_calendario{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #360745;
    color: #efeac5;
    font-size: 20px;
    padding: 20px 0;
    cursor: default;
}
#dataAgora{
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 20px 0;
}
.numero_calendario{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}
.numero_calendario span{
    display: inline-block;
    color: #333;
    width: 14.2%;
    padding: 15px 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}
.numero_calendario span:hover{
    padding: 18px 5px;
    background-color: #ccc;
    transition: 0.3s ease-in-out;
}
.botao_marcar{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #360745;
  color: #efeac5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.selecionado{
    padding: 18px 5px;
    background-color: #ccc;
}

/* Fim Calendario */

/* Formulario Pet*/

.background_pet{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.form_pet{
  padding: 50px 50px;
  box-shadow: 0 8px 24px #333;
  border-radius: 15px;
  font-size: 18px;
  display: grid;
  justify-content: center;
}
.form_pet *{
  display: grid;
  justify-content: center;
}
.form_pet label{
  padding: 20px 0;
}
.radio_btn{
  float: left;
}


/* Rodape*/

footer{
  width: 100%;
  height: 100%;
  background-color: #efeac5;
  position: relative;
}

.box_rodape{
  display: block;
  margin-left: 20px;
  background-color: #efeac5;
}

.voltar_footer{
  display: flex;
  padding: 10px;
  position: absolute;
  right: 15%;
  top: 5%;
}
.voltar_footer a{
  text-decoration: none;
  color: #d61c59;
}

.voltar_footer i{
  font-size: 30px;
}

.box_rodape span{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 10px;
}
.box_rodape h4{
  display: flex;
  font-size: 20px;
  color: #d61c59;
  border-bottom: 2px solid #d61c59;
  padding: 5px 0;
}

.card_rodape{
  float: left;
  padding: 10px 40px;
}

/* Fim Rodape */

/* Acessibilidade */

.botao_acessibilidade, .botao_visualizacao{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50% -50%);
  background-color: rgb(207, 18, 18);
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}
.botao_acessibilidade{
  right: 5px;
  top: 55%;
}
.botao_visualizacao{
  top: 63%;
  right: 5px;
}
.botao_acessibilidade i{
  font-size: 20px;
  padding: 15px;
  color: white;
}
.botao_visualizacao i{
  color: #000000;
}
.botao_visualizacao{
  border-top: 1px solid #360745;
}
.botao_visualizacao i{
  padding: 15px;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}
.botoes_acessibilidade{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50% -50%);
  background-color: rgb(207, 18, 18);
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
  color: white;
  font-size: initial;
}

#acessibilidade2{
  right: 5px;
  top: 71%;
}
#acessibilidade3{
  right: 8%;
  top: 71%; 
}
.botoes_acessibilidade i {
  padding: 10px;
  font-size: 20px;
}

/* Fim Acessibilidade */

.desligado{
    display: none;
}